<!--
  Generated template for the RedpackAudioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>选择红包音效</ion-title>
    </ion-navbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]="audio_type" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="common">
          通用
        </ion-segment-button>
        <ion-segment-button value="custom">
          自定义
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div [hidden]="audio_type != 'common'" class="themes-box">
        <ion-row>
          <ion-col col-3>
            <div class="sidebar">
              <div class="menu-item"
                (tap)="selectCatalog(i);" 
                [class.active]="selectedCatalogIndex === i" 
                *ngFor="let catalog of catalogs; let i = index;">
                {{catalog.name}}
              </div>
            </div>
          </ion-col>
          <ion-col col-9>
            <div class="main-content">
              <ion-grid>
                <ion-row>
                  <ion-col col-6 *ngFor="let item of commonData;">
                    <ion-card (tap)="selectItem(item);">
                      <!-- <div class="audio-box">
                          <audio [src]="item.file" controls="controls"></audio>
                      </div>
                      
                      <div class="card-title">
                        {{item.name}}
                      </div> -->
                      <div class="audio-box">
                        <button ion-button icon-only clear (click)="play();">
                          <ion-icon name="ios-play-outline" color="primary"></ion-icon>
                        </button>
                        <p class="name">{{item.name}}</p>
                        <audio [src]="item.file" #audio></audio>
                      </div>
                      <div class="selected" *ngIf="redpack.audio && redpack.audio.id === item.id">
                        <ion-icon name="ios-checkmark-outline"></ion-icon>
                      </div>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div [hidden]="audio_type != 'custom'" class="theme-custom">
        即将上线...
      </div>
</ion-content>
